@import url('https://fonts.googleapis.com/css2?family=Dhurjati&family=DotGothic16&family=Press+Start+2P&display=swap');

.FormRow {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 80px;
}

.FormContainer {
    margin: 0 auto;
    width: 100%;
}

.AuthForm label {
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    text-transform: uppercase;
    padding: 3px;
    margin-left: 2px;
    color: #50a4aa;
    float: left;
    clear: both;
}

.Content {
    background-color: #ece6d6;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0px;
    z-index: -1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.AuthForm{
    padding: 30px;
}

.FormInput {
    border-radius: 20px;
}

.Link {
    text-decoration: none;
    color: #967406;
    margin-top: 50px;
    text-align: center;
}

a:hover {
    text-decoration: none;
    color: #4eb7be;

}

.GradHeader {
    font-family: 'Press Start 2P', cursive;
    border-bottom: 3px solid rgba(61, 59, 59, 0.1);
    height: 60px;
    margin-top: 0;
    margin-bottom: 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 0;
    width: 100%;
    z-index: 1000;
    background-image: linear-gradient(260deg, #8ED8F5 0%, #76c8d4 100%);
}

.H4Text {
    text-transform: uppercase;
    padding-top: 10px;
    line-height: 50px;
    color: #615a54;
}