.AuthBtn {
    font-family: 'Press Start 2P', cursive;
    color: #8ED8F5;
    border-bottom: 3px solid rgb(161, 113, 8);
    border-right: 3px solid rgb(199, 156, 14);
    border-left: 1px solid rgb(199, 156, 14);
    border-top: 1px solid rgb(224, 193, 21);
    background-color: #463d34;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    margin: 12px;
    text-align: center;
    line-height: 20px;
}

.FormBtn {
  margin-top: 10px;
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  text-transform: uppercase;
  background-color: #5f574b;
  border: 1px solid rgb(161, 113, 8);
  border-bottom: 3px solid rgb(161, 113, 8);
  border-right: 2px solid rgb(199, 156, 14);
  color: #e4e0d4;   
}

.CommentBtn {
  margin: 0 auto;
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  text-transform: uppercase;
  background-color: #499da8;
  border: 1px solid rgb(161, 113, 8);
  border-bottom: 3px solid rgb(161, 113, 8);
  border-right: 2px solid rgb(199, 156, 14);
}

.Button:hover {
    
    border-top: none;
    border-left: none;
}

.Dark:hover {
    background-color: #463d34;
    cursor: pointer;
    border-color: #68490f;
    outline: none !important;
    outline-style: none;
}

.LoadMoreBtn {
  padding: 5px;
  display: block;
  width: 50%;
  margin: 0 auto;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
  color: #499da8;
}

.LoadMoreBtn svg {
  font-size: 1.5em;
  stroke-width: 1px;
  color: #bda125;  
}

.TypeFilterBtn {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  min-width: 80px;
  border: 2px solid rgb(44, 44, 44);
}

.TypeFilterBtn:hover {
  background-color: rgba(143, 126, 107, 0.952);
  border-color: #dad6c7;
}

.ResetBtn {
  background-color: rgba(124, 109, 92, 0.952);
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
}

.ScrollContainer {
    position: relative;
}

.ScrollButton {
    position: fixed;
    width: 96px;
    height: 96px;
    bottom: 10px;
    right: 10px; 
    cursor: pointer;
    z-index: 10;
    animation: movebtn 2s ease-in-out;
    transition: all .5s ease-in-out;
}

@keyframes movebtn {
    0%{
      transform: translateY(0px);
    }
    25%{
      transform: translateY(-5px);
    }
    50%{
      transform: translateY(0px);
    }
    75%{
      transform: translateY(-5px);
    }
    100%{
      transform: translateY(0px);
    }
  }


  @media screen and (max-width: 500px) {

    .ScrollButton {
      position: fixed;
      width: 66px;
      height: 66px;
      bottom: 20px;
      right: 10px; 
      cursor: pointer;
      z-index: 10;
      animation: movebtn 2s ease-in-out;
      transition: all .5s ease-in-out;
  }

   }