.AuthBtn {
    font-family: 'Press Start 2P', cursive;
    color: #8ED8F5;
    border-bottom: 3px solid rgb(161, 113, 8);
    border-right: 3px solid rgb(199, 156, 14);
    border-left: 1px solid rgb(199, 156, 14);
    border-top: 1px solid rgb(224, 193, 21);
    background-color: #463d34;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    margin: 12px;
    text-align: center;
    line-height: 20px;
}

.FormBtn {
    margin-top: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    text-transform: uppercase;
    background-color: #5f574b;
    border: 1px solid rgb(161, 113, 8);
    border-bottom: 3px solid rgb(161, 113, 8);
    border-right: 2px solid rgb(199, 156, 14);
    width: 60%;
}

.Button:hover {
    
    border-top: none;
    border-left: none;
}

.Dark:hover {
    background-color: #463d34;
    cursor: pointer;
    border-color: #68490f;
}

.ScrollContainer {
    position: relative;
}

.ScrollButton {
    position: fixed;
    width: 96px;
    height: 96px;
    bottom: 10px;
    right: 10px; 
    cursor: pointer;
    z-index: 10;
    animation: movebtn 2s ease-in-out;
    transition: all .5s ease-in-out;
}

@keyframes movebtn {
    0%{
      transform: translateY(0px);
    }
    25%{
      transform: translateY(-5px);
    }
    50%{
      transform: translateY(0px);
    }
    75%{
      transform: translateY(-5px);
    }
    100%{
      transform: translateY(0px);
    }
  }