.ModalHeader {
    background-image: linear-gradient(260deg, rgb(58, 51, 43) 0%, rgb(66, 63, 55) 100%);
    border-bottom: 2px solid transparent;
    border-image: radial-gradient(circle, rgb(238, 231, 42) 0%, rgba(170,140,51,1) 100%);
    border-image-slice: 1;
    width:100%;
    color: rgb(231, 222, 211);
}

.ModalFooter {
    background-image: linear-gradient(260deg, rgb(58, 51, 43) 0%, rgb(66, 63, 55) 100%);
    border-top: 2px solid transparent;
    border-image: radial-gradient(circle, rgb(238, 231, 42) 0%, rgba(170,140,51,1) 100%);
    border-image-slice: 1;
    width:100%;
    color: #29221f;
}

.Content {
    width: 70%;
    margin: 0 auto;
}

.CommentWrapper {

    margin: 0 auto;
}

.CommentWrapper textarea {
    height: 100px;
}


@media screen and (max-width: 540px) {

    .Content {
        width: 100%;
    }
}