.DropdownItem {
    display: inline-block;
    max-width: 50%;
    padding: 0px;
    color:rgb(46, 42, 36);
  }

  .DropMenuProfile {
    background-color: #cebeae;
    border: 1px solid rgb(170, 128, 11);
  }

  .DropMenuProfile a {
    color: #553c1b;
    margin-bottom: 1px;
  }

  .DropMenuProfile a:hover {
    background-color: rgb(221, 210, 195);
    color: #2b1e13;
  }
  
  .Toggle {
    color: rgb(46, 42, 36);
    font-size: 35px;
    cursor: pointer;
    float: right;
    margin-top: 0px;
  }

  .ToggleArrow {
    color: rgb(56, 48, 41);
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
  }

  .Toggle:hover, .ToggleArrow:hover {
    color: rgb(136, 94, 5);
    transition: ease 0.5s;
  }