.NavBar {
    font-size: 18px;
    background-image: linear-gradient(260deg, #4892a5 0%, #6ab6c4 100%);
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-image: radial-gradient(circle, rgb(238, 231, 42) 0%, rgba(170,140,51,1) 100%);
    border-image-slice: 1;
    padding-bottom: 10px;
    width: 100%;
}

.Logo {
    z-index: 10;
    width: 64px;
    height: 64px;
    border: 2px solid #ad8105;
    border-radius: 50%;
}

.NavRight {
    padding: 5px;
}

.NavLeft a {
    font-weight: 500;
    padding: 5px;
    margin-left: 6px;
}

.NavLeft a:hover {
    text-decoration: none;
    color: #8ED8F5;
    border-bottom: 2px solid darkgoldenrod;
    border-right: 2px solid darkgoldenrod;
    background-color: #5a4b38;
    padding: 6px;
    transition: 0.5s ease-in;
    border-radius: 10px;
}

.Active {
    text-decoration: none;
    color: #dddad4 ;
    border-bottom: 3px solid rgb(161, 113, 8);
    border-right: 3px solid rgb(199, 156, 14);
    border-left: 1px solid rgb(199, 156, 14);
    border-top: 1px solid rgb(224, 193, 21);
    background-color: #5a4b38;
    padding: 6px;
    border-radius: 10px;
}


