.HeaderContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.Right {

}

.Card {
    max-width: 80%;

    margin: 0 auto;
}

.CardImg {
    padding: 20px;
    background-color: rgb(207, 198, 186);
}

.Liked, .UnLiked {
    font-size: 25px;
    padding: 3px;
    cursor: pointer;
    transition: ease-in-out;
}

.UnLiked {
    color: rgb(204, 197, 188);
}

.Liked {
    color: red;
}