.ProfileForm {
    background-color: #dacfc4;
    padding: 10px;
    border: solid 5px #977c02;
    border-radius: 20px;
}


/* AVATAR SELECTOR MODAL*/

.AvatarSelector {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto;
}

.AvatarContainer {
    background-color: rgb(255, 218, 10);
    box-shadow: inset 0px 0px 40px 40px rgba(0,0,0,0.63);
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.AvatarSelect {
    cursor: pointer;
    width: 60px;
    height: 60px;
}

.AvatarSelect:focus {
    border: 3px solid #3abecf;
    opacity: 0.5;
}