.ProfileForm {
    background-color: #dacfc4;
    padding: 10px;
    border: solid 5px #977c02;
    border-radius: 20px;
}



/* AVATAR SELECTOR MODAL*/

.AvatarSelector {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.AvatarContainer {
    background-color: rgb(255, 218, 10);
    box-shadow: inset 0px 0px 40px 40px rgba(0,0,0,0.63);
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.AvatarSelect {
    cursor: pointer;
    width: 60px;
    height: 60px;
}

.AvatarSelect:focus {
    border: 3px solid #3abecf;
    opacity: 0.5;
}

.ModalBody {
    background-color: rgb(231, 222, 211);
}

.ModalHeader {
    background: linear-gradient(90deg, rgba(72,146,165,1) 0%, rgba(113,196,212,1) 50%, rgba(72,146,165,1) 100%);
    border-bottom: 2px solid transparent;
    border-image: radial-gradient(circle, rgb(238, 231, 42) 0%, rgba(170,140,51,1) 100%);
    border-image-slice: 1;
    width:100%;
    color: #4b381c;
    text-shadow: -1px 1px 2px #abfaf3;
}

.ModalFooter {
    background: linear-gradient(90deg, rgba(72,146,165,1) 0%, rgba(113,196,212,1) 50%, rgba(72,146,165,1) 100%);
    border-top: 2px solid transparent;
    border-image: radial-gradient(circle, rgb(238, 231, 42) 0%, rgba(170,140,51,1) 100%);
    border-image-slice: 1;
    width:100%;
}