.App {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  min-height: 100vh;
  background: linear-gradient(145deg, rgb(48, 43, 36) 0%, rgb(58, 55, 49) 60%, rgb(63, 57, 48) 100%);
}

*, html, body {
  box-sizing: border-box;
  margin: 0;
  box-sizing: border-box;
}

.BeigeBg {
  background: url(./assets/beigepattern.png);
  background-position: 50% 50%;
  background-repeat: repeat;
}

.Row {
  margin: 0px;
}


a {
  color: rgb(41, 39, 37);
  font-weight: 600;
}

a:hover {
  text-decoration: none;
  color: #4eb7be;

}

.Avatar {
  max-height: 100px;
  max-width: 100%;
  object-fit: contain;
  border: 2px solid #ad8105;;
  border-radius: 50%;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

.PContainer {
  display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.BtnWrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
 }

.CornerBox {
  position:relative; 
  display:inline-block; 
  width:100%; 
  height:auto; 
}

input[type="text"],
input[type="password"] {
    border-radius: 20px;
    padding: 20px 12px;
  }

input[type="file"] {
  display: none;
}

figure {
  text-align: center;
  display: inline-block;
}

.Icons {
  font-size: 1.3em;
  color: rgb(184, 134, 9);
}

.Badge {
  background: linear-gradient(180deg,rgb(232 221 54) 0%,rgb(223 210 84) 49%,rgb(179 128 34) 100%);
  padding: 4px;
  margin: 5px;
  font-size: 13px;
  border-bottom: 2px solid rgb(104, 58, 5);
  border-right: 2px solid rgb(143, 84, 8);
  color: #180e01;
  float: right;
}

.HrDeco {
  height: 55px;
  background: url("./assets/divider-gold2.png") no-repeat center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border: none;
}

.BorderTop {
  border-top: 4px solid transparent;
  border-image: radial-gradient(circle, rgb(238, 231, 42) 0%, rgba(170,140,51,1) 100%);
  border-image-slice: 1;
  width:100%;
}


.BorderBottom {
  border-bottom: 4px solid transparent;
  border-image: radial-gradient(circle, rgb(238, 231, 42) 0%, rgba(170,140,51,1) 100%);
  border-image-slice: 1;
  width:100%;
}

.BorderTopBottom {
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-image: radial-gradient(circle, rgb(238, 231, 42) 0%, rgba(170,140,51,1) 100%);
  border-image-slice: 1;
  width:100%;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #726565;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #4892a5;
  border-radius: 10px;
}


