.App {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  min-height: 100vh;
  background: linear-gradient(145deg, rgb(48, 43, 36) 0%, rgb(58, 55, 49) 60%, rgb(63, 57, 48) 100%);
}

*, html, body {
  box-sizing: border-box;
  margin: 0;
  box-sizing: border-box;
}


.Main {
  margin-top: 80px;
}


a {
  color: rgb(41, 39, 37);
  font-weight: 600;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

.FillerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

input[type="file"] {
  display: none;
}

figure {
  text-align: center;
  display: inline-block;
}

.Badge {
  background-color: rgb(107, 221, 221);
  padding: 5px;
  border-bottom: 2px solid darkgoldenrod;
  border-right: 2px solid darkgoldenrod;
  color: rgb(54, 48, 41);
  float: right;
}


